<h2 id="blogs" >Blog Posts</h2>
<div class="card-container blog-card-container">
    {% for item in site.data.blogs %}
    {% if item.title %}
    <a href="/blogs/blog">
    {% else %}
    <a>
    {% endif %}
      <div class="card card-container">
        <div class="info info-container">
          <div class="img-container">
            <img src="../assets/img/blog/{{item.img}}" alt="blog-image">
          </div>
          <p class="title blog-title">{{ item.title }}</p>
          <div class="author-container">
            <img src="../assets/img/fellows/{{item.publisherImg}}" alt="publisher-image">
            <p class="location">{{ item.publishedBy }}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  