.fellow-container {
    margin-top: 40px;
    font-size: larger;
    .fellow-img-cont {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .fellow-img {
            height: 400px;
            width: 400px;
            // border-radius: 20px;
            border-radius: 50%;
            border: 5px solid #0a0a0a;
        }
    }
    .fellow-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px){
    .fellow-container {
        flex-direction: column;
        align-items: center;
        .fellow-img-cont {
            .fellow-img {
                width: 90vw;
                height: 90vw;
                
            }
            margin-bottom: 20px;
        }

            .fellow-info-container {
                max-width: initial;
            }
        }
}