.nav-bar {
  width: 100%;
  background-color: #133667;
  font-family: "Poppins", serif;
  font-weight: 700 !important;
  top: 0px;
  position: sticky;
  z-index: 100;
}

.nav-logo img {
  width: 200px;
}

.nav-content {
  display: flex;
  width: 100%;
  text-align: right;
  padding: 10px;
}

.left {
  display: flex;
  width: 100%;

  justify-content: start;
  align-items: start;

  a {
    margin-left: 20px;
  }
}

@keyframes example {
  from {
    background-color: white;
    font-size: 17px;
    border-radius: 7px;
  }
  to {
    background-color: white;
    font-size: 19px;
    border-radius: 7px;
  }
}

.menu-icon {
  cursor: pointer;
  display: none;
}

.right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  justify-content: end;
  align-items: center;

  a {
    color: #fff;
    margin-inline: 25px;
    font-size: 17px;
    font-weight: 500;
    &:hover {
      animation-name: example;
      padding: 5px 10px;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      text-decoration: none;
      color: #000;
      mix-blend-mode: luminosity;
    }
  }
}

.nav-content {
  display: flex;

  background-color: #0e2c57;
}

@media screen and (max-width: 768px) {
  .right {
    display: none;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
  .menu-icon i {
    font-size: 2rem;
    color: white;
  }

  .menu-icon.menu-active i:before {
    content: "\f00d";
  }

  .show-nav {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #133667;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .show-menu a {
    margin: 1rem 1rem;
    font-size: 1.2rem;
    line-height: 10px;
  }
  .theme-toggler-btn {
    font-size:20px;
    padding: 5px 9px;
  }
}

//dark theme

body.dark {
  background-color: #050d1b !important;
  h2,
  p,
  i {
    color: white !important;
  }
  header,
  .profile {
    background-color: #040b16 !important;
  }
  div.card {
    background-color: #0b1f38 !important;
  }
  .theme-toggler-btn {
    background-color: #133667;
  }
  .theme-toggler-btn:hover {
    background-color: #174689;
  }
}

.theme-toggler-btn {
  background-color: #2069cb;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  padding: 5px 12px;
  margin: 5px 0px;
  margin-left: 5px;
  transition-duration: 0.2s;
}

.theme-toggler-btn:hover {
  background-color: #1b56a4;
}

.theme-toggler-btn:focus {
  outline: none;
  box-shadow: none;
}

.fa-moon {
  color: rgb(246, 251, 255);
}
