.nav-bar {
    width: 100%;
    background-color: #133667;
    font-family: "Poppins", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}



.left{ 
    display: flex;
    width: 100%;  
    
        justify-content: start;
        align-items: start;
    
        a{
            margin-left: 20px;
        }
    }
    
    @keyframes example {
        from {background-color: white; font-size: 17px;border-radius: 7px;}
        to {background-color: white; font-size: 19px;border-radius: 7px;}
      }
    
    .right{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        justify-content: end;
        align-items: center;
        
    
        a{
            color: #fff;
           margin-inline: 25px;
           font-size: 17px;
           font-weight: 500;
           &:hover {
           animation-name: example;
           padding: 5px 10px;
           animation-duration: 0.5s; 
           animation-fill-mode: forwards;
           text-decoration:none;
           color: #000;
           mix-blend-mode: luminosity;
        }
        }
    }
    
    .nav-content{
        display: flex;
    
        background-color: #0e2c57;
    }
    