.profile {
    // image source - https://www.freepik.com/author/wirestock
    // Free photo 3d rendering abstract background of a futuristic circle tunnel with glowing neon blue lights
    background-image: url('https://img.freepik.com/free-photo/3d-rendering-abstract-background-futuristic-circle-tunnel-with-glowing-neon-blue-lights_181624-61521.jpg?w=1800&t=st=1678391195~exp=1678391795~hmac=a1b946c4782f03fccb9c55524adb384a958cd6cc0afd73ccb78314e71fc78828') !important;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 400px;
    margin-bottom: 50px;
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;  
    }
    .title {
        padding-top: 300px;
    }
}

.profile:hover {
    // image source - https://unsplash.com/photos/XJdx4eDmW2Y
    background-image: url('https://images.unsplash.com/photo-1601071680397-997582203ae1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80') !important;
}

