---
layout: page
---


<br>
<div class="fellow-container">
<div class="fellow-img-cont">
    <img class="fellow-img"  src="../assets/img/{{ page.img }}">

</div>

<div class="fellow-info">
    <span class="fellow-info-key"><b>University :</b></span>
    <span class="">
                {{ page.university }}
            </span>
</div>
<br>
<div class="fellow-info">
    <span class="fellow-info-key"><b>Favourite Programming Languages  :</b></span>
    <span class="">
                {{ page.programming-languages }}
            </span>
</div>
<br>
<div class="fellow-info">
    <span class="fellow-info-key"> <b>Description:</b></span>
    <span class="">
                    {{ page.description }}
                </span>
</div>
<br>
<div class="fellow-info">
    <span class="fellow-info-key"><b>Interests outside of technology:</b></span>
    <span class="">
            {{ page.interests }}
        </span>
</div>
</div>
<br>

